body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

img{
    display: block;
    margin: 0 auto;
}

div {
    display: inline-block;
    width: 49%;
}

h1 {
    text-align: center
}

p {
    text-align: center
}

h2 {
    text-transform: uppercase
}