body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol{
    list-style-type: lower-alpha;
}
.melhor{
    text-align: justify;
}

ul{
    list-style-type: circle;
}
.pior{
    text-align: justify;
}